.concessionaria{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    position: relative;
}

img {
    mix-blend-mode: multiply;
  }

  /* CSS */
.button-6 {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 150px;
  }
  
  .button-6:hover,
  .button-6:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
  }
  
  .button-6:hover {
    transform: translateY(-1px);
  }
  
  .button-6:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }

.containerconce{
    display: flex;
    max-width: 720px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.top-title{
    text-align: center;
    margin: 0 auto 40px auto;
}

.top-title h3{
    color:#004aad;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 20px;
}

hr{
    height: 3px;
    width: 50px;
    margin: 15px auto 20px auto;
    background-color: #004aad;
}

.row{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    width: 1000px;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.featured-box{
    background-color: white;
    position: relative;
    transition: .5s;
    overflow: hidden;
    margin-bottom: 40px;
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 55%);
    display: flex;
    margin-top: 20px;
    width: 200px;
    height: 250px;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    transition: width 1s, height 1s, transform 1s;
}

.featured-img{
    position: relative;
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.featured-img img{
    width: auto;
    height: 100px;
}

.featured-box h1{
    font-size: 100%;
    overflow: auto;
}

.row a{
    text-decoration: none;
    color: black;
}

.featured-box:hover{
    width: 225px;
    height: 300px;
    transform: rotateY('90');
}